NOTION_DB_MANAGER_TOKEN=secret_xxx
NOTION_DB_MANAGER_DATABASE_NAME=Tasks




notion-db-manager reader export-all --output all.json
notion-db-manager reader export-columns --columns "[Cyclo] S" "[Cyclo] S+T" --output cyclo_columns.json